input[type=text], select {
    width: 70%;
    padding: 2px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 30%;
    background-color: #4CAF50;
    color: white;
    padding: 2px 5px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;  
    justify-content: center;  
    text-align: center;         
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }
  input[type=button] {
    width: 30%;
    background-color: #4CAF50;
    color: white;
    padding: 2px 5px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=button]:hover {
    background-color: #45a049;
  }

form{
    width : 400px;
}

input{
    width:50%;
}

input:focus{
    box-shadow: 0 0 4px rgba(255,0,0);
    border:1px solid rgba(255,0,0);
}

::placeholder{
    color:rgb(8, 8, 8);
    opacity:1;
}

body {
  background-image:url("./yoda.jpg");
  margin: 0;
  padding: 0;
  text-align : center;
}
h2 {
    color : #e61313;
    text-align : center;
    font-family: "SIMPSON";
}
form {
    width: 300px;
    margin: 0 auto;
}

label {
  color: rgb(240, 40, 14);
  padding: 8px;
  font-family: Arial;
}